<div class="row pageMovement sure">
    <p id="finishing" class="hide" style="text-align:center;font-size:2.5em">You have unanswered questions.<br>Are you sure you want to finish?</p>
<div id="btnYes" class="col-xs-5 col-sm-4 btn btn-primary pull-left hide">yes</div>
<div id="btnNo" class="col-xs-5 col-sm-4 col-sm-offset-4 col-xs-offset-2 btn btn-primary pull-right hide">no</div>
</div>