
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" src="./public/mainCSS.css">
<form id="sign_up"action="/addUserData" method="post" class="">
    <label for="username">Username:</label>
    <input type="text" id="username1" name="username" required=""><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required=""><br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required=""><br>
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" max="90" min="10" required=""><br>
    <input type="submit" id="sign_up" value="Submit" class="btn" style="font-size:1.3em;">
</form>